@import '../../../styles/utils.less';
@import '../../../components/vant/common/style/hairline.less';
@import '../../../components/vant/common/style/ellipsis.less';

.user-operation {
  width: 100%;
  height: 100%;
  color: #262626;
  font-weight: 400;

  .user-operation-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #E7F4F2;
    background-image: url('http://3s-static.hisense.com/wechat/1/14722429883/1656487264404_4cb7c8a4570842be9f9463b87646a4c7.png'); // 用户运营-详情顶部背景.png
    background-size: 100% 454rpx;
    background-repeat: no-repeat;
    .bg{
      height: 100%;
      width: 100%;
    }
    .nav-bar{
      .header-content {
        height: 44px;
        display: flex;
        align-items: center;
        .icon-space{
          width: 60rpx;
        }
        .activity-name {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          font-size: 36rpx;
          font-weight: 500;
          color: #FFFFFF;
        }
      }
    }

    .user-info-card{
      padding: 16rpx 16rpx 0;
      .user-info-card-inner{
        padding: 40rpx;
        font-size: 26rpx;
        color: #777777;
        font-weight: 400;
        border-radius: 20rpx;
        background-image: url('http://3s-static.hisense.com/wechat/1/14722429883/1657161510858_9d54cfa5c1cd4ed68fe15e1e4aec711e.png'); // 用户运营-矩形@2x.png
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .card-header{
          padding: 20rpx 24rpx 24rpx;
          .card-message{
            display: flex;
            padding-bottom: 8rpx;
            .card-message-left{
              flex: 1;
              .card-title{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .card-coding{
                  flex: 1;
                  margin-right: 24rpx;
                  display: flex;
                  align-items: center;
                  .user-name{
                    font-size: 34rpx;
                    font-weight: 500;
                    color: #262626;
                    margin-right: 8rpx;
                  }
                  .user-gender{
                    width: 24rpx;
                    height: 24rpx;
                    margin-right: 16rpx;
                    margin-top: -40rpx;
                  }
                  .user-type{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 116rpx;
                    height: 44rpx;
                    background: #EDF2F9;
                    border-radius: 200rpx 200rpx 200rpx 6rpx;
                    font-size: 22rpx;
                    color: #6D819F;
                  }
                  .oGreen{
                    background: #E4F8F7;
                    color: #00AAA6;
                  }
                  .oRed{
                    background: #FEF1EE;
                    color: #FC5260;
                  }
                }

              }
            }
            .card-message-right{
              .card-status{
                display: flex;
                .message{
                  width: 76rpx;
                  height: 76rpx;
                  &:not(:first-child){
                    margin-left: 40rpx;
                  }
                }
              }
            }
          }

          .card-desc{
            margin-top: 8rpx;
            .gap{
              margin-right: 32rpx;
            }
          }
          .card-phone{
            display: flex;
            align-items: center;
            font-weight: 500;
            .medal{
              width: 56rpx;
              height: 26rpx;
              margin-left: 8rpx;
            }
          }
          .card-tags{
            display: flex;
            flex-wrap: wrap;
            margin: 10rpx -6rpx -6rpx;
            .tag{
              background: #E4F8F7;
              border-radius: 18rpx;
              padding: 2rpx 14rpx;
              font-size: 22rpx;
              color: #00AAA6;
              margin: 6rpx;
            }

          }
        }
      }
    }

    .tab-bar{
      display: flex;
      align-items: center;
      padding: 28rpx 16rpx;
      .bar-item{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 164rpx;
        height: 76rpx;
        background: #FFFFFF;
        border-radius: 38rpx;
        font-size: 28rpx;
        &:not(:first-child){
          margin-left: 20rpx;
        }
      }
      .active{
        background: linear-gradient(90deg, #00D5C3 0%, #00C3A8 100%);
        color: #FFFFFF;
        font-weight: 500;
      }
    }

    .order-scroll{
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      padding: 0 16rpx;
      overflow-y: auto;
      .order-scroll-inner{
        padding-bottom: 28rpx;
      }
      .scroll-card{
        background: #FFFFFF;
        border-radius: 20rpx;
        padding: 24rpx;
        &:not(:last-child){
          margin-bottom: 28rpx;
        }
        .card-header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24rpx;

          .header-left{
            flex: 1;
            display: flex;
            align-items: center;
            .title{
              font-size: 34rpx;
              font-weight: 500;
            }
            .status{
              border-radius: 18rpx;
              border: 2rpx solid #00AAA6;
              padding: 2rpx 10rpx;
              font-size: 22rpx;
              color: #00AAA6;
              margin-left: 12rpx;
            }
            .done{
              border: 2rpx solid #777777;
              color: #777777;
            }
          }
          .header-right{
            position: relative;
            .more-img{
              width: 100rpx;
              text-align: right;
              .more{
                width: 36rpx;
                height: 36rpx;
              }
            }

            .handle{
              position: absolute;
              top: 40rpx;
              right: -36rpx;
              width: 270rpx;
              padding: 50rpx;
              background-image: url('http://3s-static.hisense.com/wechat/1/14722429883/1656489267897_a19c7ecb709844b081b616b8e1ae41b9.png'); // 用户运营-操作按钮背景@2x.png
              background-size: 100% 100%;
              background-repeat: no-repeat;
              z-index: 1;
              .handle-item{
                .b-icon{
                  font-size: 36rpx;
                  color: #262626;
                }
                .follow{
                  width: 36rpx;
                  height: 36rpx;
                }
                text{
                  margin-left: 12rpx;
                }
                &:not(:last-child){
                  margin-bottom: 30rpx;
                }

              }
            }
          }
        }
        .card-container{
          .product-item{
            display: flex;
            justify-content: space-between;
            background: linear-gradient(90deg, #E4F5FE 0%, #FFFFFF 100%);
            border-radius: 12rpx;
            padding: 30rpx 24rpx;
            position: relative;
            &:not(:first-child){
              margin-top: 24rpx;
            }
            .product-info{
              flex: 1;
              padding-right: 100rpx;
              .product-name{
                font-size: 30rpx;
                font-weight: 500;
                .product-tip{
                  font-size: 26rpx;
                  margin-left: 12rpx;
                  font-weight: 400;
                  word-break: break-all;
                }
              }
              .desc{
                font-size: 26rpx;
                word-break: break-all;
              }
              .gap{
                margin-bottom: 8rpx;
              }
              .date{
                color: #777777;
              }

            }
            .product-image{
              position: absolute;
              right: 30rpx;
              top: 48rpx;
              .material{
                width: 72rpx;
                height: 72rpx;
              }

            }
            .createTime{
              margin-left: 88rpx;
            }
          }
          .overdraft{
            background: linear-gradient(270deg, #FFFFFF 0%, #E1F8F8 100%);
          }
          .base-info{
            background: linear-gradient(90deg, #FFF0F0 0%, #FFFFFF 100%);
          }
          .house-type-item{
            display: flex;
            padding: 30rpx;
            background: linear-gradient(270deg, #FFFFFF 0%, #E1F8F8 100%);
            border-radius: 12rpx;
            margin-bottom: 24rpx;
            .house-icon{
              width: 48rpx;
              height: 48rpx;
              margin-right: 12rpx;
            }
            .house-info{
              flex: 1;
              .house-type{
                font-size: 30rpx;
                font-weight: 500;
              }
              .house-area{
                font-size: 26rpx;
                color: #777777;
                margin-top: 8rpx;
              }
            }
          }
        }
        .card-footer{
          margin-top: 24rpx;
          .desc{
            font-size: 26rpx;
            color: #777777;
            margin-bottom: 12rpx;
          }
        }
      }
    }
    .empty-box{
      background: transparent;
      display: flex;
      align-items: flex-start;
      padding-top: 200rpx;
    }

    .order-footer{
      width: 100%;
      padding: 14rpx 30rpx env(safe-area-inset-bottom);
      background: #FFFFFF;
      position: relative;
      &::after {
        .hairline(#EEEEEE);
        border-top-width: 2rpx;
      }
      .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 88rpx;
        font-size: 34rpx;
        color: #FFFFFF;
        background: #00C4A9;
        border-radius: 46rpx;
      }
    }


    .van-steps--vertical {
      padding: 0 0 0 64rpx;

      .van-step--vertical {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        color: #969799;
        font-size: 28rpx;
        display: block;
        float: none;
        padding: 20rpx 20rpx 20rpx 0;
        line-height: 36rpx;
        &:not(:last-child)::after {
          border-bottom-width: 2rpx;
        }
        .van-step__card{
          background: #FFFFFF;
          border-radius: 12rpx;
          padding: 24rpx;

          .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24rpx;
            .status{
              font-size: 26rpx;
              color: #00AAA6;
            }
          }
          .title{
            flex: 1;
            display: flex;
            align-items: center;
            .name{
              color: #262626;
              font-size: 30rpx;
              font-weight: 500;
            }
            .type{
              background: #E3F5FF;
              border-radius: 18rpx;
              padding: 2rpx 18rpx;
              font-size: 22rpx;
              color: #1890FF;
              margin-left: 16rpx;
            }
          }
          .desc{
            color: #262626;
            font-size: 26rpx;
            margin-bottom: 8rpx;
            .price{
              margin-right: 48rpx;
            }
          }
          .date{
            color: #AAAAAA;
          }
        }
        .van-step__circle-container {
          position: absolute;
          top: 60rpx;
          left: -30rpx;
          z-index: 1;
          font-size: 24rpx;
          line-height: 1;
          transform: translate(-50%, -50%);
          .van-step__circle {
            display: block;
            width: 20rpx;
            height: 20rpx;
            background: linear-gradient(90deg, #57D9D3 0%, #2BD8B5 100%);
            border-radius: 50%;
          }
          .van-step__circle-active {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38rpx;
            height: 38rpx;
            background: #BFEBE4;
            border-radius: 50%;
            .van-step__circle-active-inner {
              width: 22rpx;
              height: 22rpx;
              background: #FFFFFF;
              border: #2BD8B5 4rpx solid;
              border-radius: 50%;
            }

          }
        }

        .van-step__line {
          top: 60rpx;
          left: -30rpx;
          width: 2rpx;
          height: 100%;
          position: absolute;
          background-color: #BFEBE4;
          transition: background-color 0.3s;
        }
        &:last-child .van-step__line {
          width: 0;
        }

      }
    }
  }
}


