@font-face {
  font-family: 'iconfont';  /* project id 2037285 */
  src: url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.eot');
  src: url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.woff') format('woff'),
  url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.svg#iconfont') format('svg');
}
.iconfont{
  font-style: normal;
  font-size: 16px;
  font-family: 'iconfont' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.problem-info-field{
  padding: 24rpx 16rpx;
}
.botm-wrap{
  padding: 24rpx 40rpx 124rpx;
  background: #FFFFFF;
}

.clock-header{
  position: relative;
  background: #FFFFFF;
  .trademark-bg{
    width: 100%;
    height: 190rpx;
  }
  .clock-info{
    margin-top: -190rpx;
    padding: 40rpx 30rpx;
  }
}
.cardTitle{
  position: relative;
  padding: 30rpx 24rpx;
  background: #FFFFFF;
  box-shadow: 0rpx 8rpx 16rpx 0rpx rgba(187, 187, 187, 0.38);
  border-radius: 16rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  .time{
    font-size: 32rpx;
    font-weight: 500;
    color: #262626;
    margin-bottom: 10rpx;
  }
  .top-header-wrap{
    font-size: 26rpx;
    display: flex;
    align-items: flex-start;
    .location-name{
      max-width: 450rpx;
      font-weight: 400;
      color: #262626;
    }
    .position-icon{
      display: flex;
      color: #00aaa7;
      padding-top: 8rpx;
    }
  }
}
.location{
  display: flex;
  align-items: center;
  justify-content: right;
}

.update{
  display: flex;
  color: #00aaa7;
  position: absolute;
  right: 24rpx;
}
.redXin{
  color: #ff0000;
}
.msgBox{
  font-size: 28rpx;
  line-height:80rpx;
}
.main-info-filed{
  padding: 0 20rpx;
  background: #FFFFFF;
}
.msgItem{
  display: flex;
  justify-content: space-between;
  border-bottom: 2rpx solid #f8f8f8;
  .button{
    padding-top: 10rpx;
  }
  .minus-btn{
    height: 35rpx;
    width: 35rpx;
    margin-top: 22rpx;
  }
}
.remove-problem {
  font-size: 26rpx;
  font-weight: 400;
  color: #777777;
  .icon-remove{
    font-size: 24rpx;
    color: #CCCCCC;
  }
  .remove-problem-text{
    margin-left: 12rpx;
  }
}
.add-problem{
  display: flex;
  justify-content: center;
  position: relative;
  background: #FFFFFF;
  border-radius: 16rpx;
  font-size: 28rpx;
  font-weight: 500;
  color: #00AAA6;
  .icon-add{
    font-size: 20rpx;
    margin-right: 16rpx;
  }
}
.baifang{
  height: 50rpx;
  padding: 0 8rpx;
  line-height: 50rpx;
  margin-top: 15rpx;
  border-radius: 4rpx;
  font-size: 24rpx;
  font-weight: 400;
  color: #00AAA6;
  border: 2rpx solid #00AAA6;
}
.grayFont{
  display: flex;
  color: #969698;
  font-size: 28rpx;
}
.imgMap{
  width: 100%;
  height: 100%;
}
.mapfont{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: rgba(255,255,255,0.8);
  z-index: 10;
}
.modemap{
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  z-index: 9;
}
.mapRelative{
  position: relative;
  width: 100%;
  height: 150rpx;
  border-radius: 8rpx;
  overflow: hidden;
  margin-bottom: 16rpx;
}
.borBottom{
  border-bottom: 2rpx solid #f8f8f8;
}
.jiaImg{
  width: 80px;
  height: 80px;
  margin-right: 10rpx;
  color: #cccccc;
}
.daka{
  width: 100vw;
  text-align: center;
  background-color: #00aaa7;
  height: 100rpx;
  color: #FFFFFF;
  font-size: 28rpx;
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .curTime{
    font-size: 24rpx;
  }
}
.tishiContent{
  font-size: 25rpx;
  color: #969698;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 15rpx 0;
}
.addressd{
  width: 65vw;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  text-align: right;
  font-size: 28rpx;
  color: #969698;
}
.textarea{
  box-sizing: border-box;
  padding: 20rpx;
  font-size: 28rpx;

}
.textarea-field{
  min-height: 176rpx !important;
}
.list-wrap{
  margin-bottom: 16rpx;
  padding: 0 24rpx;
  background: #FFFFFF;
  border-radius: 16rpx;

  &:last-child{
    margin-bottom: 24rpx;
  }
  .list-item{
    position: relative;
    .msgItem-filed{
      .van-cell{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
.order-s-filter-container {
  padding-top: 78rpx;
  .order-operation {
    display: flex;
    width: 100%;
    .operation-text {
      width: 100%;
      height: 84rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .operation-status {
        font-size: 24rpx;
        font-weight: 400;
        padding-left: 40rpx;
        &.active {
          color: #00aaaa;
        }
      }
      .operation-icon {
        font-size: 24rpx;
        color: #00aaa6;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 40rpx;
      }
    }
  }
}

.training-filed{
  display: flex;
  margin-bottom: 16rpx;
  .training-filed-item{
    flex: 1;
  }
}
.base-model-popup-picker{
  display: flex;
  flex-direction: column;
  background: #FFF;
  position: relative;

  .datetime-picker-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .datetime-picker-header{
      display: flex;
      justify-content: space-between;
      height: 100rpx;
      align-items: center;
      padding: 0 24rpx;
      border-bottom: 2rpx solid #EEEEEE;

      .handle-btn{
        flex: 1;
      }
      .handle-btn-title{
        text-align: center;
      }
      .handle-btn-confirm{
        text-align: right;
      }

      .training-clear{
        color: #00AAA6;
        margin-left: 16rpx;
      }
    }

    .datetime-picker-container{
      flex: 1;
      overflow: hidden;
      .purchase-inv-scroll{
        height: 100%;
        .datetime-picker-item{
          height: 80rpx;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 24rpx;
          color: #262626;
          font-size: 28rpx;

          &.active{
            color: #00AAA6;
          }
        }
      }
    }
  }
}
