@import '../../../styles/utils.less';
@import '../../../styles/index.less';
@import '../../../components/vant/common/style/hairline.less';

.order {
  height: 100%;
  position: relative;
  .free-shipping-tip{
    padding: 12rpx 32rpx;
    background: #FFEFE2;
    font-size: 24rpx;
    color: #FF8F3C;
  }
  .popup-error {
    position: relative;
    background-color: #ffffff;
    padding: 0 40rpx;
    height: 504rpx;
    width: 604rpx;
    .icon-error {
      color: #D9161C;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 72rpx;
      padding-top: 48rpx;
    }
    &-close {
      .flex-center();
      position: absolute;
      right: 0;
      top: 0;
      width: 88rpx;
      height: 88rpx;
      z-index: 100;
    }
    &-header {
      padding-top: 16rpx;
      padding-bottom: 16rpx;
      .flex-center();
      color: #262626;
      font-size: 32rpx;
      font-weight: 400;
    }
    &-scroll {
      height: 300rpx;
      .error-text {
        color: #777777;
        font-size: 28rpx;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      -webkit-user-select: none;
      user-select: none;
      height: 132rpx;
      background-color: #FFFFFF;
      &-bar {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        height: 100rpx;
        position: fixed;
        bottom: 0;
        &-btn {
          width: 100%;
          height: 100%;
          .flex-center();
          background-color: #FFFFFF;
          font-size: 32rpx;
          font-weight: 400;
          color: #00AAA6;
          &.disabled {
            background-color: #cccccc;
          }
        }
      }
    }
  }
  &-scroll {
    position: relative;
    height: 100%;
    &-head {
      padding: 0 24rpx;
      background-color: #FFF;
      color: #262626;
      font-size: 26rpx;
      //
      .item-customer-container {
        padding-top: 24rpx;
        .item-customer {
          // margin: 24rpx 0;
          background-color: #F7F7F7;
          padding: 16rpx 26rpx 16rpx 16rpx;
          position: relative;
          color: #262626;
          font-size: 24rpx;

          &::after {
            .hairline(#EEEEEE);
            border-bottom-width: 1rpx;
          }
          &-title {
            display: flex;
            justify-content: space-between;
            padding-bottom: 8rpx;
            &-left {
              display: flex;
              align-items: center;
              &-tag {
                display: flex;
                align-items: center;
                padding: 0 8rpx;
                color: #FFFFFF;
                background-color: #BA8570;
                font-size: 20rpx;
                height: 24rpx;
              }
              &-name {
                padding-left: 8rpx;
                font-weight: 500;
              }
            }
            &-right {
              display: flex;
              align-items: center;
              color: @primary-color;
              font-size: 20rpx;

              &-update {
                padding-right: 8rpx;
              }
            }
          }
          &-legal {
            padding-bottom: 8rpx;
            .ellipsis();
          }
          &-address {
            .ellipsis();
          }
        }
      }

      .item-more {
        display: flex;
        padding: 16rpx 0;
        justify-content: center;
        font-size: 22rpx;
        color: #AAAAAA;
        align-items: center;
        .icon {
          display: flex;
          align-items: center;
          padding-left: 8rpx;
        }
      }
      .hidden {
        color: @primary-color;
      }
      .item-row:not(:last-child) {
        position: relative;
        &::after {
          .hairline(#EEEEEE);
          border-bottom-width: 1rpx;
        }
      }
      .item-row-no-border {
        &::after {
          border-bottom-width: 0 !important;
        }
      }
      .item-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 96rpx;
        padding-right: 24rpx;
        &-left {
          padding-right: 24rpx;

        }
        .amount {
          color: #D9161C;
          font-size: 24rpx;
        }
        .input {
          padding-right: 20rpx;
        }
        &-right {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          .item-product {
            display: flex;
            align-items: center;
            height: 64rpx;
            width: 100%;
            background-color: #F7F7F7;
            padding: 0 16rpx;
            color: #AAAAAA;

          }
          &-inventory {
            padding-right: 20rpx;
            max-width: 525rpx;
            .ellipsis();
          }
          .placeholder {
            color: #AAAAAA;
          }
        }
      }
      //
    }
  }
  &-bottom {
    &-volume-num{
      color: #777777;
      font-size: 22rpx;
      margin-right: 12rpx;
    }
    &-amount {
      display: flex;
      justify-content: flex-end;
      padding: 28rpx 24rpx;
      color: #D9161C;
      background-color: #FFF;
      position: relative;
      align-items: center;
      &-tip {
        display: flex;
        align-items: center;
        color: #777777;
        font-size: 24rpx;
      }
      &-num {
        font-size: 32rpx;
        font-weight:500;
      }
      &::after {
        .hairline(#EEEEEE);
        border-bottom-width: 1rpx;
      }
    }

    &-button-temp {
      font-size: 32rpx;
      flex: 1;
      padding: 28rpx 0;
      .flex-center();
      color: #666666;
    }
  }

  &-inv {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    &-head {
      position: fixed;
      top: 0;
      width: 100%;
      &-context {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 58rpx;
        height: 88rpx;
        position: relative;
        &::after {
          .hairline(#EEEEEE);
          border-bottom-width: 1rpx;
        }
        &-title {
          display: flex;
          flex: 1;
          justify-content: center;
          font-size: 32rpx;
          color: #262626;
        }
        &-close {
          padding-right: 40rpx;
          font-size: 18rpx;
        }
      }
    }
    &-scroll {
      padding-top: 88rpx;
      height: 492rpx;
      flex: 1;
      &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80rpx;
        padding: 0 40rpx 0 24rpx;
        font-size: 26rpx;
        .checked {
          color: @primary-color;
        }
        &-checked {
          font-size: 20rpx;
        }
      }
    }
  }
}

