@font-face {
  font-family: 'iconfont';  /* project id 2037285 */
  src: url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.eot');
  src: url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.woff') format('woff'),
  url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2037285_ojaou11xd4o.svg#iconfont') format('svg');
}
.iconfont{
  font-style: normal;
  font-size: 16px;
  font-family: 'iconfont' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dakaTItle{
  padding: 20rpx;
  font-size:22rpx;
  color: #00b7b3;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #f8f8f8;
}
.TankuanBox,.TankuanBox1{
  font-size: 23rpx;
  padding: 30rpx 20rpx;
  display: flex;
  flex-wrap: wrap;
}
.TankuanBox>view{

  padding: 12rpx 30rpx;
  margin: 15rpx;
  text-align: center;
  background-color: #edf1f4;
  position: relative;
}
.TankuanBox1{
  justify-content: space-between;
}
.TankuanBox1>view{
  width: 32%;
  padding: 15rpx 0;
  text-align: center;
  background-color: #edf1f4;
  position: relative;
}
.popupBottomBtn{
  /*margin-bottom: -20rpx;*/
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 25rpx;
  line-height: 70rpx;
}
.popupBottomBtn>view{
  width: 50%;
  color:#c0c0c0 ;
}
.btncomfig{
  background-color: #1ca496;
  color: #FFFFFF!important;
}
.jiaobiao{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #00b7b3;
}
.currenClassfy{
  background-color: #e2f5f3;
  color: #00b7b3;
}
.popupqueding{
  margin: 20rpx auto;
  width: 90vw;
  line-height: 60rpx;
  background-color: #00b7b3;
  color: #FFFFFF;
  text-align: center;
  font-size: 25rpx;
  border-radius: 5rpx;
}
.dateBox{
  display: flex;
  width: 90vw;
  margin: 0 auto 0 auto;
  font-size: 25rpx;
  justify-content: space-between;
}
.rlixuanz{
  width: 40vw;
  line-height: 70rpx;
  border: 1px solid #f0f0f0;
  border-radius: 10rpx;
  box-sizing: border-box;
  padding:0 20rpx;
  color: #333333;
}
.line{
  line-height: 70rpx;
}

.mainBox{
  font-size: 28rpx;
  padding: 30rpx 20rpx;
}
.mainBox>view:nth-child(odd){
  background-color: #f8f8f8;
}
.tableTitle{
  background-color: #b1b1b1!important;
}
.table{
  display: flex;
  justify-content: space-around;
  padding: 15rpx 0;
  text-align: center;
}
.table1{
  width: 45%;
  text-align: center;
}
.table2{
  width: 15%;
  text-align: center;
}
.table3{
  width: 20%;
  text-align: center;
}
.table4{
  width: 20%;
  text-align: center;
}
.nodata{
  font-size: 28rpx;
  color: #666666;
  margin-top: 500rpx;
  text-align: center;
}
.dakaBox{
  height: 100vh;
  /*border: 1px solid crimson;*/
}
.quanbuBox{
  /*border: 1px solid #ff0000;*/
  width: 100rpx;
  text-align: right;
  display: inline-block;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
